* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
  }
  
ul {
    list-style: none;
  }
  
body {
    top: 0;
    left: 0;
    color: #eeeeee;
    background-color: #2c2739;
    text-rendering: optimizeLegibility;
  }
.App{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app-desktop-menu{
    z-index: 2;
    display: inline-flex;
    position: absolute;
    justify-content: center;
    width: 100vw;
}

.menu{
    display: inline-flex;
    text-align: center;
    padding: 2rem 0 6px 0;
}

.menu li a{
    position: relative;
    letter-spacing: .25em;
    margin: 0 1em;
    display: block;
    color: #eee;
    font-size: 1.1rem;
}

.menu li a::before{
    content:"";
    position: absolute;
    top: 104%;
    width: 100%;
    opacity: 0;
    height: 3px;
    transform: scaleX(0);
    background: #00b7ff;
    transition: all .2s cubic-bezier(0, 0.55, 0.45, 1);
}

.menu li a:hover::before{
    transform: scaleX(1);
    opacity: 1;
}

 li .current-page-item a::before{
    content:"";
    position: absolute;
    top: 105%;
    width: 80%;
    height: 3px;
    background: #00b7ff;
}